/* .newFood{
    width:70%;
    margin: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.btnAddNewFood{
    border:1px solid var(--prime);
    border-radius:0.5rem;
    padding:0.5rem;
    background:transparent;
    color: var(--prime);
}
.btnAddNewFood:hover{
    color: #fff;
    background: var(--prime);
}
     */