* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    color: #fff;
    scroll-behavior: smooth;
}

:root {
    --prime: #FF5733;
    --white_15: hsl(0, 0%, 100%, 0.15);
    --white: hsl(0, 0%, 100%);
    --onyx-darker: #1a1a1a;
}

body {
    background-color: #222;
}

/* -------------------------- styling nested "drop down navbar trainer" -------------------------*/
/* .dropdown-toggle::after {
    display: none;
    margin-left: 0;
    border-top: 0 solid;
    border-right: 0 solid;
    border-bottom: 0;
    border-left: 0 solid;
} */
.dropdown-toggle::after {
    display: block !important;
    margin-left: 0em !important;
    /* vertical-align: 0.255em; */
    content: "";
    border-top: 0em solid !important;
    border-right: 0em solid transparent !important;
    border-bottom: 0;
    border-left: 0em solid transparent !important;
}

/* style navbar links hovering to override bootstrab */

ul li a:hover {
    color: var(--white);
}